[Desktop Entry]
Encoding=UTF-8
Name=Link to https://assets.leetcode.com/uploads/2018/10/22/rainwatertrap.png
Type=Link
URL=https://assets.leetcode.com/uploads/2018/10/22/rainwatertrap.png
Icon=image-png
